.app__container {
  display: grid;
  align-content: center;
  width: 100vw;
  height: 100vh;
  background: rgb(38,38,228);
background: linear-gradient(90deg, rgba(38,38,228,0.6923144257703081) 0%, rgba(0,212,255,0.5494572829131652) 100%);
}

.app_content__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: auto;
  gap: 10px;
}

.app_content__text {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 510;
  line-height: 18px;
}

.app_content__button {
  background-color: #0098EA;
  color: #FFFFFF;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16);
  padding: 8px 16px 8px 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  height: 40px;
  border-radius: 100vh;
  cursor: pointer;
  font-size: 14px;
  font-weight: 510;
  line-height: 18px;
  transition: transform 0.125s ease-in-out;
  border: none;
  
}

.app_content__button:hover {
  transform: scale(1.02);
}

.app_clip__contaner {
  max-width: 95vw;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 0 0 5px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgb(141, 146, 143);
  background-color: #f4f4f5;
}

.app_clip__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 6px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app_clip__btn {
  height: 30px;
  width: 57px;
  border-radius: 10px;
  border: none;
  background-color: #cdcdfc;
  color: #525050;
  font-size: 14px;
  font-weight: 510;
  line-height: 18px;
  cursor: pointer;
}
.app_clip__btn.active {
  background-color: #cdfcd3;
}